.places {
  width: 100%;
  max-width: 984px;
  padding-top: 92px;
}

@media screen and (max-width: 1279px) {
  .places {
    width: 91%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    width: 94%;
    padding-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    width: 100%;
    padding-top: 64px;
  }
}
