.cover {
  width: 100%;
  max-width: 1184px;
  padding-top: 92px;
  min-height: 740px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 53% auto;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    padding-top: 90px;
    min-height: 480px;
    grid-template-rows: 59% auto;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    padding-top: 66px;
    min-height: 340px;
    grid-template-rows: 45% auto;
  }
}

@media screen and (max-width: 424px) {
  .cover {
    min-height: 200px;
  }
}
